.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .App-content {
    flex-direction: column;
  }
}
 